@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.text-on-surface{
      --tw-text-opacity: 1;
    color: rgb(45 51 56 / var(--tw-text-opacity, 1));
}
.text-on-surface-variant {
    --tw-text-opacity: 1;
    color: rgb(89 96 101 / var(--tw-text-opacity, 1));
}